preferences/User/Gist.sublime-settings
preferences/User/bh_unicode_properties.cache
preferences/User/Package Control.cache
preferences/User/Package Control.last-run
preferences/User/Package Control.merged-ca-bundle
preferences/User/Package Control.user-ca-bundle
preferences/User/Color Highlighter
preferences/User/oscrypto-ca-bundle.crt
preferences/User/SublimeLinter
Gemfile.lock
